<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 SkWeb (sergey.kamnev@gmail.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SkWeb\ProductsExtend\Api\Data\ProductSaleInformationInterface" type="SkWeb\ProductsExtend\Model\Product\SaleInformation" />
    <type name="SkWeb\ProductsExtend\Model\Product\SaleInformation">
        <arguments>
            <argument name="orderStatus" xsi:type="string">processing</argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="processSaleInformation" type="SkWeb\ProductsExtend\Model\Plugin\Product\SaleInformation"/>
    </type>
</config>